*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:black;
}

h1{
    color: white;
    text-align: center;
    
    
}

.abo{
  font-size: 20px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button{
  display: none;
}

h2{
    color: white;
    text-align: center;
}
span{
    color: #ff004f;
}
p{
    color: white;
    font-size: larger;
}
.block{
    margin-top: -25px;
    padding: 25px;
    position: relative;
    margin: 5% 115px;
    width:80%;
    background: linear-gradient(0deg ,black,black);
   
    height: 90vh;   
    
}
.glow::before,.glow::after{
    content:'';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg ,#ff004f,black);
    background-size: 350%;
    width:calc(100% + 5px);
    height: calc(100% + 5px);
    z-index: -1;
    animation: animate 20s linear infinite;


    
}
@keyframes animate{
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 350% 0;
    }
    100%{
        background-position: 0 0;
    }
}

.glow::after{
    filter: blur(20px);
    
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;

}
.about-col-1 img{
    width: 75%;
    border-radius: 35px;
    height: 75%;
    margin-left: 30px;
}



.about-col-2{
    flex-basis: 60%;

}


nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    font-weight: 700;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a.active1{
  
  color: #ff004f;


}

nav ul li a:hover::after{
    width: 100%;
    
}
.header-text{
    margin-top: 10%;
    font-size: 30px;

}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color: #ff004f;
}


#header{
    width: 100%;
    height: 100vh;
   
 
   
    
    
}
.container{
    padding: 10px 5%;
}
nav{
    padding-top: 2rem;
    padding-left: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap:wrap ;
}

.bottom{
  display: none;
}




/* New styles for the hamburger menu button */


.hamburger-menu {
    display: none; /* Hide by default for larger screens */
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #fff;
  }
  
  /* Media query for smaller screens */
  @media screen and (max-width: 600px) {
    /* Show the hamburger menu button */
    .hamburger-menu {
      display: none;
      position: absolute;
      top: 10px;
      left: 10px;
    }
  
    /* Hide the regular navigation menu */
    nav ul {
      display: none;
      position: absolute;
      top: 20px; /* Adjust as needed based on your layout */
      left: 0;
      width: 15%;
      background-color: black;
      z-index: 1;
      padding: 10px 0; /* Add padding for better spacing */
    }
  
    /* Show the navigation menu when the hamburger menu is clicked */
    .hamburger-menu.active + nav ul {
      display: block;
    }
  
    /* Style the vertical list */
    
    nav ul {
        text-align: left; /* Align the list items to the left */
        padding-left: 0; /* Remove left padding to align with the content */
        margin-top: 20px; /* Add some top margin for spacing */
      }
    
      nav ul li {
        display: block;
        text-align: left; /* Align the list items to the left */
        margin-bottom: 10px; /* Add some space between list items */
      }
    
      nav ul li a {
        display: block;
        color: #fff;
        text-decoration: none;
        font-size: 15px;
        position: relative;
        padding: 5px 0; /* Add padding to the top and bottom of each link */
      }
    
      nav ul li a::after {
        content: none; /* Remove the underline effect for vertical list items */
      }

    .header-text h1{
        font-size: 30px;
        
    }

    .work-title{
      font-size: 12px;
    }
    .about-col-2 h2{
      font-size: 11px;
    }

    
    .aboutme {
      margin-top: -3%;
      color: #fff;  text-align: center;
      font-size: 25px;

    }

    .carousel {
        display: flex;
        overflow-x: auto; /* Enable horizontal scrolling */
        scroll-snap-type: x mandatory; /* Snap to each block */
        -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS */
      }
      
      .block {
        flex: 0 0 auto; /* Disable flex growth to keep items fixed width */
        width: 85vw; /* Each block takes full viewport width */
        scroll-snap-align: center;
        height: 100vh; /* Snap each block to the start of the container */
      }

      .carousel-control {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: none;
        border: none;
        font-size: 24px;
        cursor: pointer;
        color: #fff;
        z-index: 1;
      }
      
      .carousel-control.prev {
        left: 10px;
        display: none;
      }
      
      .carousel-control.next {
        right: 10px;
        display: block;
      }

      .bottom {
        display: block;
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        max-width: 300px; /* Set a maximum width to prevent it from getting too wide */
        height: 70px;
        background: #fff;
        display: flex;
        justify-content: space-around; /* Adjust as needed */
        align-items: center; /* Adjust as needed */
        border-radius: 10px;
        z-index: 1000;
        margin-bottom: 10px;
    }
    
          
        
    .bottom ul{
        display: flex;
        width: 290px;
    }

    .bottom ul li{
        position: relative;
        list-style: none;
        width: 90px;
        height: 90px;
        z-index: 1;
    }

    .bottom ul li a{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width:100%;
        text-align: center;
        font-weight: 500;
    }
    .bottom ul li a .icon{
        
        position: relative;
        display: block;
        line-height: 70px;
        font-size: 1.2rem;
        text-align: center;
        
        transition: 0.5s;
        color: var(--clr);

    }

    .bottom ul li.active a .icon{
        transform: translateY(-20px);
    }

    .bottom ul li a .text{
        padding-top: 25px;
        position: absolute;
        color: var(--clr);
        font-weight: 400;
        font-size: 0.75em;
        letter-spacing: 0.1em;
        transition: 0.2s;
        opacity: 0;
        transform: translateY(20px);

    }

    .bottom ul li.active a .text{
        opacity: 1;
        transform: translateY(10px);
    }

    .indicator{
        position: absolute;
        top: -50%;
        width: 70px;
        height: 70px;
        background: #ff004f;
        border-radius: 50%;
        border: 6px solid var(--clr);
        transition: 0.2s;

    }

    .indicator::before{
        content: '';
        position: absolute;
        top: 50%;
        left: -22px;
        width: 20px;
        height: 20px;
        background: transparent;
        border-top-right-radius: 20px;
        box-shadow: 0px -10px 0 0 var(--clr);

    }

    .indicator::after{
        content: '';
        position: absolute;
        top: 50%;
        right:  -22px;
        width: 20px;
        height: 20px;
        background: transparent;
        border-top-left-radius: 20px;
        box-shadow: 0px -10px 0 0 var(--clr);

    }

    .bottom ul li:nth-child(1).active ~ .indicator{
        transform: translateX(calc(74px *  0));
    }
    
    .bottom ul li:nth-child(2).active ~ .indicator{
        transform: translateX(calc(73px * 1));
    }

    .bottom ul li:nth-child(3).active ~ .indicator{
        transform: translateX(calc(73px * 2));
    }

    .bottom ul li:nth-child(4).active ~ .indicator{
        transform: translateX(calc(73px * 3));
    }



    :root{
        --clr:black;

    }



      .abo h2{
        font-size: 50px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }



      .row {
        display: flex;
        flex-direction: column; /* Change to column layout */
        align-items: center; /* Center items horizontally */
        text-align: center; /* Center text */
      }
      
      .about-col-1 {
        margin-bottom: 10px; 
        /* Add space between columns */
      }

      .about-col-1 img{
        width: 50%;
        border-radius: 35px;
        height: 50%;
        margin-left: 30px;
    }
      
    .about-col-2 p{
        font-size:18px ;
        font-family: sans-serif;
    }
      
  }
  

  @media screen and (min-width: 601px) and (max-width: 1024px){
    .block{
      height:90%;
      margin-left: 10%;
      margin-right: 10%;
    }

    .about-col-1 img{
      width: 85%;
      border-radius: 35px;
      height: 85%;
      
  }
  .about-col-2 h2{
    font-size:16px ;
    font-family: sans-serif;
}
    

  }
  